main {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

body {
      background-color: #486d46;
      background-image: url("キービジュアル.jpg"); /* 640x426 */
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
}
 
aside {
	width: calc(30% - 26px);
	display: inline-block;
	margin-left: 20px;
	box-sizing: border-box;
	border: solid 1px;
}
 
p {
	line-height: 2;
	width: 60%;
	display: inline-block;
	padding-right: 10px;
	box-sizing: border-box;
	vertical-align: top;
	margin: 0;
}


